body, #root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {flex: 1; display: flex;}
.main-article, .main-section {flex: 2 2 12em;}
.main-nav, .main-aside { flex: 1; }


@media screen and (max-width: 500px) {    
    main { flex-direction: column; }
    .main-article, .main-section{flex:1; }  
    .main-nav, .main-aside { flex: none; }
}

header,footer,nav,article,aside { box-sizing: border-box;/* padding: 1em; */}

@media screen and (max-width: 500px) {    
    main { flex-direction: column; }
    .main-article, .main-section{flex:1; }  
    .main-nav, .main-aside { flex: none; }
}

@media (max-width:767px){
    .page-footer {
        padding-top: 2rem !important;
        padding-bottom: 0.3rem !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .page-footer-header {
            padding: 0 !important;
        }

        h1 {
            font-size: 1.1rem;
        }

        nav a {
            font-size: 0.9rem;
        }
    }    
}

@media (min-width: 768px) { 
    #LoginPage > div {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    }

    #navbarLogout {
        justify-content: flex-end !important;
    }
}



.btn-outline-danger:hover > i {
    color: white !important;;
}



.search{
    position: relative;
    box-shadow: 0 0 30px rgba(51, 51, 51, .1);
}

.search input{
     height: 40px;
     text-indent: 5px;
     border: 2px solid #d6d4d4;
}


.search input:focus{
     box-shadow: none;
     border: 2px solid #0D6EFD;
}

.search .fa-search{
    position: absolute;
    top: 12px;
    right: 16px;
}

/* .search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
} */


/* Modal */
.ReactModalPortal > div{
    opacity: 0;
  }
  
  .ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
  }
  
  .modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 550px;
    max-width: 450px;
    outline: none;
    padding: 10px;
  }


table.candidates tbody tr:hover {
    background: #FF8200;
    color: white;
    cursor: pointer;
}